<div class="container">
    <div class="row login-panel p-5">
      <h3 class="col-md-12 mb-4 mt-4 page-headline">View Card</h3>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="assets/thanks_2.png" alt="text" height="140px">
          <div class="caption">
            <h3>Invitation Name</h3>
            <p class="card-description"><strong>Date</strong>17/08/2023</p>
            <p><a href="#" class="btn btn-primary" role="button">View details</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="assets/thanks_2.png" alt="text" height="140px">
          <div class="caption">
            <h3>Invitation Name</h3>
            <p class="card-description"><strong>Date</strong>17/08/2023</p>
            <p><a href="#" class="btn btn-primary" role="button">View details</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="assets/thanks_2.png" alt="text" height="140px">
          <div class="caption">
            <h3>Invitation Name</h3>
            <p class="card-description"><strong>Date</strong>17/08/2023</p>
            <p><a href="#" class="btn btn-primary" role="button">View details</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="assets/thanks_2.png" alt="text" height="140px">
          <div class="caption">
            <h3>Invitation Name</h3>
            <p class="card-description"><strong>Date</strong>17/08/2023</p>
            <p><a href="#" class="btn btn-primary" role="button">View details</a></p>
          </div>
        </div>
      </div>
    </div>
 </div>