<div class="container">
    <div class="login-panel justify-content-md-center row mt-5">
        <div class="col-6">
            <section class="logo">
                Invitation Card Design
            </section>
            <section class="text-center">
                <img class="animation-gif" alt="Gift Card Änimation" data-src="assets/inytes-animation.gif" src="assets/inytes-animation.gif">
            </section> 
        </div>
        <div class="col-6">
            <section class="login">
                <div class="page-headline">
                   <h2>Recover Password</h2> 
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label required">Email</label>
                        <input type="email" disabled class="form-control disbled form-input-style" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary button" disabled type="button">Get Password</button>
                    </div>
                    </form>
                    <div class="row">
                        <div class="column small-12 text-center m-t-10">
                            <a routerLink="/login" class="create-account"><i class="bi bi-arrow-left"></i> Back to Login</a>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>