  <app-navigation></app-navigation>
  <div class="container">
    <div class="row login-panel p-5">
      <div class="col-md-6 col-lg-3 column me-5">
        <div class="card gr-1">
          <div class="txt">
            <h1>Create Invitation</h1>
            <p>Invite friend and relative</p>
          </div>
          <a routerLink="./create-invatation">more</a>
          <div class="ico-card">
            <i class="bi bi-calendar2-plus"></i>
        </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-3 column me-5">
        <div class="card gr-2">
          <div class="txt">
            <h1>View Invitation</h1>
            <p>View past Invitation</p>
          </div>
          <a routerLink="./viewinvitation-details">more</a>
        <div class="ico-card">
          <i class="bi bi-card-list"></i>
        </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>Create Friend lis</h1>
            <p>Customized feature that can be added</p>
          </div>
          <a routerLink="./viewinvitation-details">more</a>
        <div class="ico-card">
          <i class="bi bi-card-list"></i>
        </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>