<div class="container">
    <div class="row login-panel p-5">
      <div class="col-md-6 col-lg-6">
        <form class="row g-3">
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Event Title</label>
                <input type="event title" class="form-control form-input-style" id="eventtitle">
              </div>
              <div class="col-md-6">
                <label for="eventType" class="form-label">Event Type</label>
                <select id="eventType" class="form-select form-input-style">
                  <option selected>Choose...</option>
                  <option>Baby Shower</option>
                  <option>Birthday</option>
                  <option>Christmas</option>
                  <option>Engagement</option>
                  <option>Graduation</option>
                  <option>Wedding</option>
                  <option>Wedding Anniversary</option>
                </select>
              </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
              <label for="datepicker" class="form-label">Event Date</label>
                <div class="input-group date" id="datepicker">
                  <input type="date" class="form-control form-input-style" id="date"/>
                </div>
            </div>
            <div class="col-md-6">
              <label for="timepicker" class="form-label">Event Time</label>
                <div class="input-group date" id="timepicker">
                  <input type="time" class="form-control form-input-style" id="time"/>         
                </div>
            </div>
            <div class="col-md-8">
              <label for="formFileLg" class="form-label">Media file upload Image/Video</label>
              <input class="form-control form-control-sm form-input-style" id="formFileSm" type="file" />
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Location </label>
              <input type="text" class="form-control form-input-style" id="inputAddress" placeholder="1234 Main St">
            </div>            
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Create Invitation</button>
            </div>
          </form>
      </div>
      <div class="col-md-6">
        preview
        
      </div>
    </div>
 </div>