<div class="container">
    <div class="login-panel justify-content-md-center row mt-5">
        <div class="col-6">
            <section class="logo">
                Invitation Card Design
            </section>
            <section class="text-center">
                <img class="animation-gif" alt="Gift Card Änimation" data-src="assets/inytes-animation.gif" src="assets/inytes-animation.gif">
            </section> 
        </div>
        <div class="col-6">
            <section class="login">
                <div class="page-headline">
                   <h2>Login</h2> 
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember password</label>
                    </div>
                    <div class="row">
                        <div class="column small-12 text-end">
                            <p><a routerLink="forgot-password" class="forgot-password">Forgot Password?</a></p>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary button" type="button" >Login</button>
                    </div>
                    </form>
                    <div class="row">
                        <div class="column small-12 text-center m-t-10">
                            <a routerLink="sign-up" class="create-account" >Create Account</a>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>