  <div class="container">
    <div class="row login-panel p-5">
      <h3 class="col-md-12 mb-4 mt-4 page-headline">Dashboard</h3>
      <div class="col-md-6 col-lg-3 column me-5">
        <div class="card gr-1">
          <div class="txt">
            <h1>Create Invitation</h1>
            <p>Invite friend and relative</p>
          </div>
          <a routerLink="/cards/create">Create</a>
          <div class="ico-card">
            <i class="bi bi-calendar2-plus"></i>
        </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-3 column me-5">
        <div class="card gr-2">
          <div class="txt">
            <h1>View Invitation</h1>
            <p>View past Invitation</p>
          </div>
          <a routerLink="/cards">View</a>
        <div class="ico-card">
          <i class="bi bi-view-list"></i>
        </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>Add friend</h1>
            <p>Add friend details</p>
          </div>
          <a routerLink="/friends/create">Add</a>
        <div class="ico-card">
          <i class="bi bi-person-plus"></i>
        </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 column mt-5 me-5">
        <div class="card gr-4">
          <div class="txt">
            <h1>View friend list</h1>
            <p>View friend list</p>
          </div>
          <a routerLink="/friends">View</a>
        <div class="ico-card">
          <i class="bi bi-list-task"></i>
        </div>
        </div>
      </div>
    </div>
  </div>

  