/* You can add global styles to this file, and also import other style files */
/* TODO: Move the component specific styles to component */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body {
    background-color: #d7d8d8 !important;
}

.button,
.button:focus,
.button:hover,
button:focus,
button:hover {
    background-color: #004a34 !important;
    outline: 0;
    color: #fff;
}

.login-panel {
    background-color: #fff4f4;
    border-radius: 20px;
    border-style: groove;
}

.page-headline {
    color: #e9c465;
}

.login {
    margin: 30px 80px;
    border: 1px solid #d6d3d3;
    padding: 50px 30px;
    border-radius: 20px;
}

.logo {
    font-size: 2rem;
    color: #e3ee50;
    margin: 50px;
    text-align: center;
    color: #86724e;
    font-style: italic;
    line-height: 1.3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.forgot-password,
.create-account {
    color: #736243;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none
}

.spinnerModalClass .modal-content {
    border: none;
    background: none;
}

.spinnerModalClass .spinner-border {
    width: 5rem !important;
    height: 5rem !important;
    border-width: 0.5rem;
    border-color: white;
    border-right-color: transparent;
}

app-root {
    label.required:after {
        content: '*';
    }
}

.icons {
    font-size: 35px;
    color: #e5e51b;
}

.form-label {
    color: #969773;
    font-weight: 500;
}

.form-input-style {
    border-color: #b5a6a6 !important;
}