/* You can add global styles to this file, and also import other style files */
/* TODO: Move the component specific styles to component */
:root {
    --brand-gold: #ae9142;
    --brand-gold-dark: #8c7535;
    --brand-gold-light: #d39f10;
    --gray: #555;
    --gray-dark: #333;
    --gray-light: #d2d2d2;
    --gray-extra-light: #f0f0f0;
    --white: #ffffff;
    --login-bg: #f4f4f4;
    --prm-color: #0381ff;
    --prm-gray: #b1b1b1;
    --black-dark: #000000;
    --olvali-light: #898944;
    --font-default: "Libre Franklin", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    --font-heading: GPC, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    --font-heading-article: "Sumana", Georgia, "Times New Roman", Times, serif;
}

body {
    background-color: #d7d8d8 !important;
   // background-image: url('/assets/mandala-design-red-background_1308-36505.avif');
  //  width: 100%;
   // background-repeat: no-repeat;
}

.button,
.button:focus,
.button:hover,
button:focus,
button:hover {
    background-color: #004a34 !important;
    outline: 0;
    color: var(--white)
}

.login-panel {
    background-color:var(--login-bg);
    border-radius: 20px;
    border: 1px solid var(--gray);
}

.page-headline {
    color: var(--brand-gold-light);
    font-family: var(--font-heading);
}

.login {
    margin: 30px 80px;
    border-left: 1px solid var(--gray-light);
    padding: 50px 30px;
}

.logo {
    font-size: 2rem;
    font-family: var(--font-heading-article);
    color: var(--brand-gold-dark);
    margin: 50px;
    text-align: center;
    font-style: italic;
    line-height: 1.3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.forgot-password,
.create-account {
    color:var(--brand-gold);
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    font-family: var(--font-default);
}

.spinnerModalClass .modal-content {
    border: none;
    background: none;
}

.spinnerModalClass .spinner-border {
    width: 5rem !important;
    height: 5rem !important;
    border-width: 0.5rem;
    border-color: var(--white);
    border-right-color: transparent;
}

app-root {
    label.required:after {
        content: '*';
    }
}

.icons {
    font-size: 35px;
    color: #e5e51b;
}

.form-label {
    color: var(--brand-gold-light);
    font-weight: 500;
}

.form-input-style {
    border-color: #b5a6a6 !important;
}